h1{
    text-align: center;
}

h1::first-letter{
    font-size: 3rem;
    color: red;
}

.parent{
    color: red;
    min-height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    /* border: 10px solid purple ; */
}

.child{
    color: green;
    min-height: 60px;
    margin: 10px;
    /* border: 10px solid red ; */
    background-color: yellow;
}